{{ define "app-content" }}
<div class="bg-container fl-col center-all">
    <h1 class="ft-lobster">Register movie</h1>
    <form class="fl-col center-all" enctype="multipart/form-data" hx-encoding="multipart/form-data">
        <div class="form-content fl-col center-all">
            <div class="fl-row center-all fl-wrap fl">
                <div class="fl-col center-all fl lt-pad">
                    <select id="poster-selector" class="selector hidden-component" name="series-poster">
                        <option value="new-poster!">Insert new poster</option>
                        {{ range "series-posters" }}                        
                            <option value="{{ .Id }}" onselect="changePoster('{{ .PosterUrl }}')">{{ .SeriesName }}</option>
                        {{ end }}
                    </select>
                    <button type="button" class="poster-container"
                        onclick="document.getElementById('image-hidden').click()">
                        <img src="/backend/imgs/movies.svg"
                            referrerpolicy="no-referrer" id="image-container" class="poster clickable-cursor">
                    </button>
                </div>
                <div class="fl-col center-all scrollable fl lt-pad">
                    <div id="series-name" class="input-div fl-col center-all hidden-component">
                        <p>Series name*:</p>
                        <input type="text" name="series-name" minlength="4" placeholder="Series name">
                    </div>
                    <div class="input-div fl-col center-all">
                        <p id="content-name">Movie name*:</p>
                        <input type="text" name="name" minlength="4" placeholder="Content name" required>
                    </div>
                    <div class="input-div fl-col center-all">
                        <p>Description:</p>
                        <textarea type="text" class="not-resizable" name="description" rows="5"
                            placeholder="Brief description or comment about the movie!"></textarea>
                    </div>
                    <div class="input-div fl-col center-all">
                        <p>Type of content?</p>
                        <div class="fl-row center-all">
                            <div class="pad-x-10px">
                                <input type="radio" name="content" value="M" oninput="showMovieOptions()" checked>
                                <label>Movie</label>
                            </div>
                            <div class="pad-x-10px">
                                <input type="radio" name="content" value="S" oninput="showSeriesOptions()">
                                <label>Serie</label>
                            </div>
                        </div>
                    </div>
                    <div class="input-div fl-col center-all">
                        <p>Stars:</p>
                        <div class="fl-row center-all">
                            <button type="button" name="rating-btn" class="free-rating-btn rating-btn fa fa-solid fa-star" onclick="changeStars(1)"></button>
                            <button type="button" name="rating-btn" class="free-rating-btn rating-btn fa fa-solid fa-star" onclick="changeStars(2)"></button>
                            <button type="button" name="rating-btn" class="free-rating-btn rating-btn fa fa-solid fa-star" onclick="changeStars(3)"></button>
                            <button type="button" name="rating-btn" class="free-rating-btn rating-btn fa fa-solid fa-star" onclick="changeStars(4)"></button>
                            <button type="button" name="rating-btn" class="free-rating-btn rating-btn fa fa-solid fa-star" onclick="changeStars(5)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-buttons fl-row center-fill">
            <a href="/content-view"><input type="button" class="submit-button cancel-btn clickable-cursor" value="Cancel"></a>
            <input type="submit" value="Register" class="submit-button accept-btn clickable-cursor"
                hx-post="/register-content/" hx-on::before-request="validateForm(event)"
                hx-on::after-request="handleResponse(event)">
        </div>
        <input type="file" name="poster" id="image-hidden" class="hidden-component" accept="image/*"
            onchange="changeImage(this.files[0])">
        <input type="number" name="rating" value="0" class="hidden-component">
    </form>
</div>
{{ end }}
