{{ define "app-content" }}
    <div class="bg-container fl-col center-all"> 
        <h1 class="ft-lobster">Login user</h1>
        <form class="fl-col center-all">
            <div class="form-content fl-col center-all">
                <div class="input-div fl-col center-all">
                    <p>Username*:</p>
                    <input type="text" name="username" minlength="4"  placeholder="Josh" required>
                </div>
                <div class="input-div fl-col center-all">
                    <p>Password*:</p>
                    <span class="rvl-pass fl-row center-all"><input type="password" minlength="6" class="password-fld" name="password" placeholder="password123" required><button class="rvl-button fa fa-eye" onclick="revealPass(this)" type="button"/></span>
                </div>
            </div>
            <div class="form-buttons fl-row center-fill fl-wrap">
                <input type="submit" class="submit-button cancel-btn clickable-cursor" value="Cancel">
                <input type="submit" value="Log in"
                    class="submit-button accept-btn clickable-cursor"
                    hx-post="/login-user/"
                    hx-on::before-request="validateForm(event)"
                    hx-on::after-request="handleResponse(event)">
            </div>
        </form>
    </div>
{{ end }}
