{{ define "app-content" }}
    <div class="bg-container center-all"> 
        <form class="fl-col center-all">
            <div class="form-content fl-col center-all">
                <div class="input-div fl-col center-all">
                    <p>Profile picture:</p>
                    <button type="submit" class="pfp-container">
                        <input type="image" class="pfp" src="/backend/imgs/default_pfp.png" name="pfp">
                </button>
                </div>
                <div class="input-div fl-col center-all">
                    <p>Username*:</p>
                    <input type="text" name="username" minlength="4"  placeholder="Josh" required>
                </div>
                <div class="input-div fl-col center-all">
                    <p>Email*:</p>
                    <input type="email" name="email" placeholder="example123@gmail.com" required>
                </div>
                <div class="input-div fl-col center-all">
                    <p>Password*:</p>
                    <span class="rvl-pass fl-row center-all"><input type="password" minlength="6" class="password-fld" name="password" placeholder="password123" required><button class="rvl-button fa fa-eye" onclick="revealPass(this)" type="button"/></span>
                </div>
                <div class="input-div fl-col center-all">
                    <p>Confirm password*:</p>
                    <span class="rvl-pass fl-row center-all"><input type="password" minlength="6" class="password-fld" name="confirm-password" placeholder="password123" required><button class="rvl-button fa fa-eye" onclick="revealPass(this)" type="button"/></span>
                </div>
            </div>
            <div class="form-buttons fl-row center-fill">
                <input type="submit" class="submit-button cancel-btn" value="Cancel">
                <input type="submit" class="submit-button accept-btn" value="Register"
                    hx-post="/register-user/"
                    hx-on::before-request="validateForm(event)"
                    hx-on::after-request="handleResponse(event)">
            </div>
        </form>
    </div>
{{ end }}
