
@font-face {
    font-family: 'Lobster';
    src: url('/backend/fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root[data-theme='light'] {
  --outer-bg: #e7cfbc;
  --inner-bg: #fff4ec;
  
  --content-add-btn-hov-bg: #ad7e5c;
  --content-add-btn-bor-bg: #d0aa8e;
}

:root[data-theme='dark'] {
  --outer-bg: #A15E49;
  --inner-bg: #CA895F;
  
  --content-add-btn-hov-bg: #C77D58;
  --content-add-btn-bor-bg: #CA895F;
}

:root {
  --cancel-btn-bg: #ec3832;
  --cancel-btn-bor-bg: #512828;
  --cancel-btn-fg: #ffffff;
  --cancel-btn-bg-pressed: #ba211c;

  --accept-btn-bg: #49b649;
  --accept-btn-bor-bg: #285131;
  --accept-btn-fg: #ffffff;
  --accept-btn-bg-pressed: #1c801c;

  --selected-rating-btn-bor-bg: red;
  --selected-rating-btn-bg: #FFEE70;
  --free-rating-btn-bor-bg: #999999;
  --free-rating-btn-bg: #EBEBEB;
  
  --content-add-btn-bg: #8c6041;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, 'open sans';
}

.ft-lobster {
    font-family: 'Lobster';
    font-size: 38px;
}

.center-all {
  align-items: center;
  justify-content: center;
}

.center-text {
    text-align: center;
}

.center-fill {
  align-items: center;
  justify-content: space-around;
}

.fill-between {
    justify-content: space-between;
}

.bg-container {
  height: 100vh;
  display: flex;
  background-color: var(--outer-bg);
}

.bg-container form {
  height: 85%;
  width: 85%;
  background-color: var(--inner-bg);
}

.form-content {
  width: 100%;
  height: 85%;
}

.scrollable {
  overflow: auto
}

.bg-container form .form-buttons {
  width: 100%;
  height: 15%;
}

.fl {
    flex: 1 0 auto;
}

.fl-col {
  display: flex;
  flex-direction: column;
}

.fl-row {
  display: flex;
  flex-direction: row;
}

.fl-wrap {
    flex-wrap: wrap;
}

.lt-pad {
    padding: 15px;
}

.form-content {
  overflow: auto;
}

.form-content .input-div {
  width: 85%;
}

.input-div {
  font-size: 28px;
}

.input-div p {
  margin: 10px;
}

.input-div textarea,
.input-div input {
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: border 0.2s ease;
  border: 3px solid gray;
  outline: none;
}

.input-div textarea:focus,
.input-div input:focus {
  border: 3px solid #000;
  transition: border 0.2s ease;
}

.search-field,
.rvl-pass,
.gray-bor {
  background-color: white;
  transition: border 0.2s ease;
  border: 3px solid gray;
}

.search-field:focus-within,
.rvl-pass:focus-within {
  border-color: #000;
}

.search-field .search-input,
.search-field .search-btn,
.rvl-pass .password-fld,
.rvl-pass .rvl-button {
  border: none;
  background-color: white;
}

.rvl-pass .rvl-button {
  font-size: 24px;
  margin-left: 4px;
  margin-right: 4px;
}

.submit-button {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 42px;
}

.pfp {
  max-height: 175px;
  max-width: 175px;
  height: auto;
  width: auto;
  border-radius: 50%;
  object-fit: contain;
}

.poster {
    height: 525px;
    width: 350px;
    padding: 0px;
    margin: 0px;
}

.clickable-cursor {
  cursor: pointer;
}

.hidden-component {
  display: none;
}

.poster-container {
  border: 2px solid black;
  background-color: inherit;
  margin: 0;
  padding: 0;
}

.pfp-container {
  border: 1px solid transparent;
  background-color: inherit;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

.not-resizable {
    resize: none;
}

.cancel-btn {
  background-color: var(--cancel-btn-bg);
  border: 4px solid var(--cancel-btn-bor-bg);
  color: var(--cancel-btn-fg);
}

.cancel-btn:focus {
  background-color: var(--cancel-btn-bg-pressed);
}

.accept-btn {
  background-color: var(--accept-btn-bg);
  border: 4px solid var(--accept-btn-bor-bg);
  color: var(--accept-btn-fg);
}

.accept-btn:focus {
  background-color: var(--accept-btn-bg-pressed);
}

.rating-btn {
    height: 60px;
    width: 60px;
    font-size: 32px;
}

.free-rating-btn {
    border: 2px solid var(--free-rating-btn-bor-bg);
    background-color: var(--free-rating-btn-bg);
}

.free-rating-btn:hover {
    background-color: var(--free-rating-btn-bor-bg);
    color: var(--free-rating-btn-bg);
    transition: border 0.2s ease;
    transition: color 0.2s ease;
    transition: background 0.2s ease;
}

.selected-rating-btn {
    border: 2px solid var(--selected-rating-btn-bor-bg);
    background-color: var(--selected-rating-btn-bg); 
    color: var(--selected-rating-btn-bor-bg); 
}

.selected-rating-btn:hover {
    background-color: var(--selected-rating-btn-bor-bg);
    color: var(--selected-rating-btn-bg); 
    transition: border 0.2s ease;
    transition: color 0.2s ease;
    transition: background 0.2s ease;
}

.mar-x-10px {
    margin-left: 10px;
    margin-right: 10px;
}

.pad-x-10px {
    padding-left: 10px;
    padding-right: 10px;
}

.selector {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 22px;
    margin-bottom: 20px;
}

.view-header {
    width: 100%;
    height: 10%;
}

.view-header .header-field{
    margin: 15px;
}

.view-content-header {
    width: 100%;
    height: 5%;
}

.view-content {
    width: 100%;
    height: 85%;
}

.header-field button,
.search-field > input {
    font-size: 28px;
    outline: none;
}

.search-field {
    padding: 10px;
}

.content-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--content-add-btn-bg);
    border: 4px solid var(--content-add-btn-bor-bg);
    color: white;
    transition: 0.2s ease;
}

.content-button:hover {
   border-color: var(--content-add-btn-hov-bg); 
   background-color: var(--content-add-btn-hov-bg);  
}

.logout-btn {
    font-size: 42px;
}

table {
    font-size: 24px;
}

table > th {
    text-align: center;
}

.poster-image,
.poster-image img {
    width: min(25vw, 160px);
}

.poster-image img {
    border: 2px solid var(--content-add-btn-bor-bg);
}

.poster-name h3 {
    margin: 25px;
    font-size: 32px;
}

.poster-rating {
    text-align: center;
}

td.poster-rating {
    font-size: 32px;
}

.poster-remove {
    font-size: 64px;
}

